.about-body {
  h2 {
    color: #7e1cfe;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 170%;
  }
  .video-content {
    transition: transform 0.5s;
    &:hover {
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
