.contact-form {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

form {
  text-align: center;
  .contact-form-header {
    padding-top: 1em;
    padding-bottom: 2em;
  }
  h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #7e1cfe;
  }
  input {
    border: 1px solid #7e1cfe;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;

    //

    &:focus::-webkit-input-placeholder {
      color: blueviolet;
    }
    //

    &::-webkit-input-placeholder {
      text-align: center;
      color: #aaa;
    }
    &:focus {
      outline: none;
    }
  }

  .contact-btn1 {
    margin-bottom: 1em;
    padding: 5px 30px;
    &:hover {
      background: #0085ff;
    }
  }

  .contact-btn2 {
    padding: 5px 25px;
    background: transparent;
  }

  button {
    border-radius: 15px;
    border: 1px solid #7e1cfe;
    background-color: #7e1cfe;
    padding: 5px 10px;
    margin: 5px 0;
    color: white;

    a {
      color: #0085ff;
    }
  }
}
