.middle-text {
  margin-top: 50px;
  margin-bottom: 50px;

  h1 {
    color: #7e1cfe;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 30px;
  }

  p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    /* Body dark */

    color: #4d4d4d;
  }
}
