@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --font-base: 'DM Sans', sans-serif;

  --primary-color: #7e1cfe;
  --secondary-color: #0085ff;
  --black-color: #030303;
  --lightPrimary-color: blueviolet;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
